{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add {{ page }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST" action="{{url}}" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
      {% if field.type == "FileField" %}
          <td></td>
          <td>{{ field }}</td>
      {% else %}
        <label for="{{field.id}}">{{field.id}}</label>
        {{ field(placeholder=field.id, class="form-control") }}
      {% endif %}
    {% endfor %}
    <input type="submit" name="Submit">
  </form>

  {{mark}}
{% endblock %}
