{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Artists{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.add', page='Profile') }}">Add</a>
  {% endif %}
{% endblock %}
{% block content %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>

<style>
    nav{
      background-color:black;
    }
    body, header, html{
      background-color:black;
    }
    h1{
      color:white;
    }
    h2, h3, h4, h5, a{
      color:white;
    }
    div {text-align:center}
</style>

    {% for row in rows %}
      <div>
        <a href="{{url_for('blog.profile', id=row['id'], name=row['name'])}}">
            <img width= 200px class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ url_for('static', filename=row['Image']) }}"  >
            <h2> {{ row['Name'] }} <h2>
        </a>
      </div>
    {% endfor %}

{% endblock %}
