<html lang="en">
<title>{{post['Name']}}</title>
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
      <!-- Google fonts-->
      <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
      <!-- Core theme CSS (includes Bootstrap)-->
      <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <style>
        nav{
          background-color:{{post['menu_color']}};
        }
        body, header, html, footer{
          background-color:{{post['background_color']}};
        }
        h1{
          color:{{post['main_text_color']}};
        }
        h2, h3, h4, h5, a{
          color:{{post['secondary_text_color']}};
        }
        div {text-align:center}
    </style>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="sideNav" style=>
          <a class="navbar-brand js-scroll-trigger" href="#page-top">
              <span class="d-block d-lg-none">{{ post['Name'] }}</span>
              <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ url_for('static', filename=post['Image']) }}" alt="" /></span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              {% if post['Name'] == "Paddy Dubz" or  post['Name'] == "rob kowalskii" or post['Name'] == "MISS DUBZ" or post['Name'] == "GREGG CHRISTOPHER" %}
                <li class="nav-item"><a class="nav-link" style="text-color:black" href="https://www.dumblitinc.com/shop">Dumblit</a>
                <li class="nav-item"><a class="nav-link" href="https://www.dumblitinc.com/music">Records</a>
                <li class="nav-item"><a class="nav-link" href="https://www.dumblitinc.com/tv">TV</a>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('blog.artists') }}">Artists</a>
                <li class="nav-item"><a class="nav-link" href="https://www.dumblitinc.com/contact">Contact</a>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                {% if media %}
                  <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#media">Media</a></li>
                {% endif %}
                {% if products %}
                  <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#products">Products</a></li>
                {% endif %}

              {% else %}
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                {% if media %}
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#media">Media</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('blog.artists') }}">Artists</a>
             {% endif %}

            </ul>
          </div>
      </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        <span>{{ post['Name'] }}</span>
                    </h1>
                    {% if g.user['id'] == post['author_id'] %}
                      <a class="action" href="{{ url_for('blog.update', id=post['id'], page='Profile') }}">Edit</a>
                    {% endif %}
                    <div class="social-icons">
                      {% if post['Instagram'] %}
                          <h3><a href="https://www.instagram.com/{{ post['Instagram'] }}"><i class="fab fa-instagram"></i>@{{ post['Instagram'] }}</a></h3>
                      {% endif %}
                      {% if post['Twitter'] %}
                          <h3><a href="https://twitter.com/{{ post['Twitter'] }}"><i class="fab fa-twitter""></i>@{{ post['Twitter'] }}</a></h3>
                      {% endif %}
                      {% if post['Facebook'] %}
                          <a class="social-icon" href="{{ post['Facebook'] }}"><i class="fab fa-facebook-f"></i></a>
                      {% endif %}
                      {% if post['Youtube'] %}
                          <a class="social-icon" href="{{ post['Youtube'] }}"><i class="fab fa-youtube"></i></a>
                      {% endif %}
                      {% if post['Soundcloud'] %}
                          <a class="social-icon" href="{{ post['Soundcloud'] }}"><i class="fab fa-soundcloud"></i></a>
                      {% endif %}
                      {% if post['Spotify'] %}
                          <a class="social-icon" href="{{ post['Spotify'] }}"><i class="fab fa-spotify"></i></a>
                      {% endif %}
                      {% if post['AppleMusic'] %}
                          <a class="social-icon" href="{{ post['AppleMusic'] }}"><i class="fab fa-apple"></i></a>
                      {% endif %}
                </div>
                    <div class="subheading mb-5">
                        {% if post['Location'] %}
                          {{ post['Location'] }} ·
                        {% endif %}
                        {% if post['Phone'] %}
                        <a href="tel://{{ post['Phone'] }}">{{ post['Phone'] }}</a> ·
                        {% endif %}
                        {% if post['Email'] %}
                        <a href="mailto:{{ post['Email'] }}">{{ post['Email'] }}</a>
                        {% endif %}
                    </div>
                    <p class="lead mb-5">{{ post['Biography'] }}</p>
                    <span><img class="img-fluid"src="{{ url_for('static', filename=post['Image2']) }}" alt="" /></span>
                </div>
            </section>
            <hr class="m-0" />
            {% if g.user['id'] == post['author_id'] %}
            &emsp;<a href="{{ url_for('blog.add', id=post['id'], page='Post') }}">Add Media</a>
            {% endif %}
            {% if media %}
            <hr class="m-0" />
            <section class="resume-section" id="media">
              <div class="resume-section-content">
                {% for row in media %}
                  {% if ("Filmography" in row['title']) %}
                    <h1>{{row['title']}}</h1>
                  {% elif ("Discography" in row['title']) %}
                    <h1>{{row['title']}}</h1>
                  {% else %}
                    <h3>{{row['title']}}</h3>

                  {% endif %}
                  {% if (".mp4" in row['file']) %}
                    <video width="320" height="240" controls>
                      <source src="{{ url_for('static', filename=row['file']) }}" type="video/mp4">
                    </video>
                  {% elif (".mp3" in row['file']) %}
                  <audio controls>
                    <source src="{{ url_for('static', filename=row['file']) }}" type="audio/mpeg">
                  </audio>
                  <a href="{{ url_for('static', filename=row['file']) }}" download>Download</a>
                  {% elif row['file'] == "" %}

                  {% else %}
                    <p><img class="img-fluid" src="{{ url_for('static', filename=row['file']) }}" alt="" /></p>
                  {% endif %}
                  {% if ("<iframe" in row['body']) %}
                    {{ row['body']|safe }}
                  {% elif ("http" in row['body']) %}
                  <a href="{{ row['body'] }}" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                    </span>
                    <span class="text">See More</span>
                  </a>
                  {% else %}
                    <p class="body">{{ row['body'] }}</p>
                  {% endif %}
                {% endfor %}
             </div>
            </section>
            {% endif %}
            {% if g.user['id'] == 1 %}
            &emsp;<a href="{{ url_for('blog.add', id=post['id'], page='Product') }}">Add Product</a>
            {% endif %}
            {% if post['Name'] == "Paddy Dubz" or  post['Name'] == "rob kowalskii" or post['Name'] == "MISS DUBZ" or post['Name'] == "GREGG CHRISTOPHER" %}
              {% if products %}
              <hr class="m-0" />
              <section class="resume-section" id="products">
                <div class="resume-section-content">
                  {{ products }}
                </div>
              </section>
             {% endif %}
           {% endif %}
           <footer class="sticky-footer">
             <div class="container my-auto">
               <div class="copyright text-center my-auto">
                 <div>
                 <span>Copyright &copy; AI-dan Solutions 2020</span>
                 </div>
                 <span>Contact ai.dan.solution@gmail.com to make/edit/remove profile</span>
               </div>
             </div>
           </footer>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
