<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" href="static/pics/images.png" />
        <title>Edit Home - WebCommerce</title>
        <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <link type="text/css" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}" rel="stylesheet"/>
        <script src="{{ url_for('static', filename='js/all.min.js') }}"></script>
        <!-- import plugin script -->
        <script src='static/js/Chart.min.js'></script>
        </head>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html"><img src="static/pics/images.png" style="max-width: 50px; max-height: 40;">WebCommerce</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <div class="input-group">
            </div>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Activity Log</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="logout">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="adminhome">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Manage</div>
                            <a class="nav-link" href="add">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Products
                            </a>
                            <a class="nav-link" href="services">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Services
                            </a>
                            <a class="nav-link" href="edit">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Edit
                            </a>
                            <a class="nav-link" href="edithome">
                                --Home Page
                            </a>
                            <a class="nav-link" href="editabout">
                                --About Page
                            </a>
                            <a class="nav-link" href="addplaylist">
                                --Add Playlist
                            </a>
                            <a class="nav-link" href="addartist">
                                --Add Artist
                            </a>
                            <a class="nav-link" href="addwatch">
                                --Add Watch
                            </a>
                            <a class="nav-link" href="menus">
                                --Menu
                            </a>
                            <div class="sb-sidenav-menu-heading">Reports</div>
                            <a class="nav-link" href="orders">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Orders
                            </a>
                            <a class="nav-link" href="subscribers">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Subscribers List
                            </a>
                            <a class="nav-link" href="contactList">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Messages
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        admin
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                              <h1 class="display-4">Edit the Home Page.</h1>
                              <p class="lead">This is the 3 sections on the home page.</p>
                            </div>
                          </div>
                          <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-plus"></i>
                                Edit Info
                            </div>
                            <div class="card-body">
                              <form action="{{url_for('edithome')}}" method='post' enctype="multipart/form-data">
                                {{ form.csrf_token }}
                                {{ form.card1Title.label }}
                                {{ form.card1Title(class="form-control py-4") }}
                                {{ form.card1Tagline.label }}
                                {{ form.card1Tagline(class="form-control py-4") }}
                                {{ form.card1Price.label }}
                                {{ form.card1Price(class="form-control py-4") }}
                                {{ form.card1Link.label }}
                                {{ form.card1Link(class="form-control py-4") }}
                                <div>
                                {{ form.card1Photo.label }}
                                {{ form.card1Photo(class="col-xl-4") }}
                                </div>
                                {{ form.card1background.label }}
                                {{ form.card1background(class="form-control py-4") }}
                                {{ form.card1textcolor.label }}
                                {{ form.card1textcolor(class="form-control py-4") }}
                                {{ form.card2Hashtag.label }}
                                {{ form.card2Hashtag(class="form-control py-4") }}
                                {{ form.card2Title.label }}
                                {{ form.card2Title(class="form-control py-4") }}
                                {{ form.card2Link.label }}
                                {{ form.card2Link(class="form-control py-4") }}
                                <div>
                                {{ form.card2Photo.label }}
                                {{ form.card2Photo(class="col-xl-4") }}
                                </div>
                                {{ form.card2background.label }}
                                {{ form.card2background(class="form-control py-4") }}
                                {{ form.card2textcolor.label }}
                                {{ form.card2textcolor(class="form-control py-4") }}
                                {{ form.card3Hashtag.label }}
                                {{ form.card3Hashtag(class="form-control py-4") }}
                                {{ form.card3Title.label }}
                                {{ form.card3Title(class="form-control py-4") }}
                                {{ form.card3Link.label }}
                                {{ form.card3Link(class="form-control py-4") }}
                                <div>
                                {{ form.card3Photo.label }}
                                {{ form.card3Photo(class="col-xl-4") }}
                                </div>
                                {{ form.card3background.label }}
                                {{ form.card3background(class="form-control py-4") }}
                                {{ form.card3textcolor.label }}
                                {{ form.card3textcolor(class="form-control py-4") }}
                                <input type="submit" class="btn btn-sm btn-primary" value="Send">
                              </form>
                            </div>
                        </div>

                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; AidanMartin 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/chart-area-demo.js') }}"></script>
        <script src="{{ url_for('static', filename='js/chart-bar-demo.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/datatables-demo.js') }}"></script>
    </body>
</html>
