<!doctype html>
<title>{% block title %}{% endblock %} - Dumblit</title>
<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="https://www.dumblitinc.com">Dumblit</a></h1>
  <ul>
    {% if g.user['username'] == 'admin' %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('blog.table', page='Profile') }}">Orders</a>
      <li><a href="{{ url_for('blog.table', page='Profile') }}">Manage Artists</a>
      <li><a href="{{ url_for('blog.add', page='Product') }}">Add Product</a>
      <li><a href="{{ url_for('blog.add', page='Post') }}">Add Media</a>
      <li><a href="{{ url_for('blog.inbox') }}">Messages</a>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% elif g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('blog.add', page='Profile') }}">Add Profile</a>
      <li><a href="{{ url_for('blog.add', page='Post') }}">Add Media</a>
      <li><a href="{{ url_for('blog.inbox') }}">Messages</a>
      <li><a href="{{ url_for('blog.cart') }}">Cart</a>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="https://www.dumblitinc.com/shop">Shop</a>
      <li><a href="https://www.dumblitinc.com/music">Records</a>
      <li><a href="https://www.dumblitinc.com/tv">Media</a>
      <li><a href="{{ url_for('blog.artists') }}">Artists</a>
      <li><a href="https://www.dumblitinc.com/contact">Contact</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
